.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.calculator-content {
  display: flex;
  width: 1400px;
  background-color: #3b82f6;
  margin: 50px 0px ;
  border-radius: 25px;
  color: white;
}

.calculator-sidebar {
  flex: 1;
  padding: 40px;
}

.calculator-sidebar h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.calculator-sidebar p {
  font-size: 24px;
}

.calculator-main {
  flex: 1;
  background-color: white;
  border-radius: 25px;
  padding: 30px;
  margin: 15px;
  color: #333;
  position: relative;
}

.step-count {
  font-size: 14px;
  color: #a1b4d6;
}

.calculator-main h3 {
  font-size: 25px;
  font-weight: 400px;
  color: #2e80e1; 
  margin: 20px 0;
}

.step-content {
  display: flex;
  flex-direction: column;
}

.step-count {
  font-size: 25px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.checkbox-item {
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}

.checkbox {
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #d9dfea;
  background-color: #f3f8fb;
  border-radius: 5px;
}

.custom-input {
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #d9e0e6;
  border-radius: 8px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn {
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}

.btn.back {
  background-color: #d4e1f3;
  cursor: not-allowed;
}

.btn.next {
  background-color: #3b82f6;
}

.btn.next:hover {
  background-color: #5894f5;
}

@media (max-width: 1024px) {

.calculator-content{
  display: block;
}

}
